<div class="col-md-12 column">
  <ul class="pagination justify-content-end">
      <li class="page-item" *ngIf="currentPage?.number > 0; else prev">
          <a
                  class="page-link"
                  [routerLink]="['./']"
                  [queryParams]="{ page: currentPage?.number, size: currentPage?.size }"
          >Previous</a
          >
    </li>
      <ng-template #prev>
          <li class="page-item  disabled"><a class="page-link">Previous</a></li>
      </ng-template>

      <ng-container *ngFor="let item of counter(currentPage?.totalPages); let i = index">
          <li class="page-item" *ngIf="currentPage && currentPage.number != i; else active">
            <a class="page-link "
                    routerLink="./"
                    [queryParams]="{ page: i + 1, size: currentPage?.size }"
            >{{ i + 1 }}</a
            >
        </li>
          <ng-template #active>
              <li
                      class="page-item active "

              >
                  <button class="page-link " disabled>{{ i + 1 }}</button>
              </li>
          </ng-template>
      </ng-container>

      <li
              class="page-item"
              *ngIf="currentPage?.number + 1 < currentPage?.totalPages; else next"
      >
          <a
                  class="page-link"
                  [routerLink]="['./']"
                  [queryParams]="{
          page: currentPage?.number + 2,
          size: currentPage?.size
        }"
          >Next</a
          >
    </li>
    <ng-template #next>
        <li class="page-item disabled "><a class="page-link">Next</a></li>
    </ng-template>
  </ul>

<footer>
<section class="address">
  <div class="detail">
      <h1>OFFICE ADDRESS</h1>
      <p>Kothapet</p>
      <p>Dilsukhnagar</p>
      <p>Hyderabad</p>
  </div>
  <div class="detail">
      <h1>FOLLOW US</h1>
      <div class="detail1">
          <i class="fab fa-facebook fa-2x"></i>
          <i class="fab fa-twitter fa-2x"></i>
          <i class="fab fa-instagram fa-2x"></i>
          <i class="fab fa-linkedin-in fa-2x"></i>
          <i class="fab fa-youtube fa-2x"></i>
          <i class="fab fa-google-plus-g fa-2x"></i>
      </div>
  </div>
  <div class="detail">
      <h1>CONTACT US</h1>
      <p>8008184366</p>
      <p>sushma57@gmail.com</p>
      <p>navyabalam@gmail.com</p>
  </div>
</section>
</footer>
</div>


