.logo{
    font-size: 10rem;
    margin-top: 10px;
}
.navbar{
    color:chartreuse;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 2.0rem;
    color: whitesmoke;
    margin-right: 20px;
}
h3:hover{
    letter-spacing:2px;
    color: red;
    
}